/* ======================================================================= */
/* Contents:                                                               */
/*   Global                                                                */
/*   Header                                                                */
/*   Footer                                                                */
/*   Body                                                                  */
/*   Browse                                                                */
/* ======================================================================= */

/* ======================================================================= */
/* Global                                                                  */
/* ======================================================================= */
table,
tr,
td,
th { /* Overwrites style.css regular gray */
  border: 1px solid lightgray;
  border-collapse: collapse;
}
a {
  color: blue;
}
/* ======================================================================= */
/* Header (contains link to home and site title)                           */
/* ======================================================================= */
h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ======================================================================= */
/* Footer:                                                                 */
/*   Copyright colophon on all pages                                       */
/* ======================================================================= */
footer {
  font-size: smaller;
}
footer > p {
  margin: .2em;
}
.label {
  font-weight: bolder;
}
/* ======================================================================= */
/* Body                                                                    */
/* ======================================================================= */
body {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  overflow-x: hidden;
}
main {
  flex: 1;
}
/* ======================================================================= */
/* Browse page                                                             */
/* ======================================================================= */
#contents {
  display: flex;
  flex-direction: column;
}
.msName {
  font-size: smaller;
  margin-left: 1em;
}
/* ======================================================================= */
/* Read page                                                               */
/* ======================================================================= */
th {
  text-align: left;
  vertical-align: top;
}
#read ul {
  margin: 0;
  padding-left: 1em;
}
#read td > p {
  margin: 0 0 .5em 0;
}