/* ======================================================================= */
/* Contents:                                                               */
/*   Global                                                                */
/*   Header                                                                */
/*   Footer                                                                */
/*   Body                                                                  */
/*   Browse                                                                */
/* ======================================================================= */

/* ======================================================================= */
/* Global                                                                  */
/* ======================================================================= */
table,
tr,
td,
th { /* Overwrites style.css regular gray */
  border: 1px solid lightgray;
  border-collapse: collapse;
}
a {
  color: blue;
}
/* ======================================================================= */
/* Header (contains link to home and site title)                           */
/* ======================================================================= */
h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ======================================================================= */
/* Footer:                                                                 */
/*   Copyright colophon on all pages                                       */
/* ======================================================================= */
footer {
  font-size: smaller;
}
.label {
  color: gray;
}
/* ======================================================================= */
/* Body                                                                    */
/* ======================================================================= */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
main {
  flex: 1;
}
/* ======================================================================= */
/* Browse page                                                             */
/* ======================================================================= */
#contents {
  display: flex;
  flex-direction: column;
}
.msName {
  font-size: smaller;
  margin-left: 1em;
}
